################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Eshop/robots.txt
/Eshop/.vs/*
/.vs
/bin
/obj